.primer-cuadro{
    margin: 2px;
    border: double rgb(8, 8, 8);
    background-color: rgb(249, 253, 252); 
    float: left;
    height: 650px;
    width: 400px;
    text-align: center;
    font-family: monospace;
}
.segundo-cuadro{
    margin: 2px;
    border: double;
    background-color: rgb(248, 246, 250);
    float: right; 
    height: 650px;
    width: 400px;
    text-align: center;
    font-family: monospace;
}
.cuadro{
    display: flex;
    align-items: center;
    justify-content: center;
 background-image: url("https://i.pinimg.com/originals/e3/0a/d8/e30ad83d153a1275e2e6372eb9476e72.gif");
}
.img1{
    width:200px;
    height:200px;
    border-radius:150px;
    border:5px solid #666;

}
.img2{
    width:200px;
    height:200px;
    border-radius:150px;
    border:5px solid #666;
}
.cuadrito1{
    margin: 2px;
    border: solid;
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-size: 20px;
}
.cuadrito2{
    margin: 2px;
    border: solid;
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-size: 20px;
}
.cuadrito3{
    margin: 2px;
    border: solid;
    background-color: rgb(255, 255, 255);
    height: 30px;
    font-size: 20px;
}
.title1{
    font-size: 50px;
}
.title2{
    font-size: 50px;
} 
.texto{
    font-size: 20px;
}
